# git will ignore the following files:

# Mac hidden files
.DS_store

# pycache files
*.pyc
__pycache__/

# pytest cache
.cache/

# IPython notebook helper files
.ipynb_checkpoints/

# Sphinx documentation build directory, except final pdf
docs/_build/*
!docs/_build/latex/
docs/_build/latex/*
!docs/_build/latex/PyREx.pdf
