# git will ignore the following files:

# Mac hidden files
.DS_store

# pycache files
*.pyc
__pycache__/

# pytest cache
.cache/
.pytest_cache/

# IPython notebook helper files
.ipynb_checkpoints/

# Visual Studio Code settings
.vscode/

# Large data files & pickle files used to cache calculations
pyrex/custom/ara/data/*.pkl
pyrex/custom/arianna/data/*.ad1
pyrex/custom/arianna/data/*.ra1
pyrex/custom/arianna/data/*.pkl

# Bug testing items
tests/Bug*
tests/bug*

# Sphinx documentation build directory (except html subdirectory)
docs/build/*
!docs/build/html

# egg-related files
*.egg*
