# git will ignore the following files:

# Mac hidden files
.DS_store

# pycache files
*.pyc
__pycache__/

# pytest cache
.cache/

# IPython notebook helper files
.ipynb_checkpoints/

# Bug testing items
tests/Bug*
tests/bug*

# Sphinx documentation build directory
docs/_build/*
